body{
    margin: 0;
}
#game{
    position: absolute;
    background-color: gray;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}
.section{
    position: absolute;
    width: 4%;
    height: 4%;
    top: 40%;
    left: 70%;
    background-color: darkolivegreen;
    border: 1px solid black;
    z-index: 1;
}
.food{
    position: absolute;
    width: 4%;
    height: 4%;
    background-color: crimson;
    border: 1px solid black;
    z-index: 0;
}
#header{
    font-size: larger;
    text-align: center;
}